.connect-background {
  background-image: url("https://images.unsplash.com/photo-1643093992848-baa2b266cf99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y3Jvd2QlMjBmdW5kaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  height: inherit;
  width: inherit;
  position: relative;
  text-align: center;
}

.blur h1 {
  padding-top: 50px;
  font-size: 50px;
  color: #e0e0e0;
  font-family: "Roboto Mono", monospace;
}

.blur .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.not-found {
  text-align: center;
}

.card-container {
  text-align: center;
  background-color: #fff5dc;
}

.card {
  display: inline-block !important;
  width: 15rem;
  box-shadow: 0 0 11px rgba(73, 73, 73, 0.2);
  margin: 5vw;
}

.card-body hr {
  margin: 15px 25px;
}

.progress {
  display: inline-flex !important;
  height: 50px !important;
}

.progress p {
  margin: 5px 50px;
}

.card-text span,
.progress span {
  display: block;
  font-weight: bold;
}

.campaign-card:hover {
  box-shadow: 0 0 11px rgba(3, 3, 3, 0.2);
  cursor: pointer;
}
