.not-found {
  text-align: center;
}

.card-container {
  text-align: center;
}

.campaign-card {
  display: inline-block;
  width: 15rem;
  box-shadow: 0 0 11px rgba(73, 73, 73, 0.2);
  border-radius: 5px;
  margin: 5vw;
}

.card-body hr {
  margin: 15px 25px;
}

.progress {
  display: inline-flex;
  height: 50px;
}

.progress p {
  margin: 5px 50px;
}

.card-text span,
.progress span {
  display: block;
  font-weight: bold;
}

.campaign-card:hover {
  box-shadow: 0 0 11px rgba(3, 3, 3, 0.2);
  cursor: pointer;
}
